@import url("https://fonts.googleapis.com/css2?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  margin: 0;
}

#navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.navbar-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.navbar__menu {
  display: flex;
}

.navbar__menu__item {
  list-style-type: none;
  margin: 1rem;
  cursor: pointer;
}

/* Home */
#home {
  display: flex;
  flex-direction: column;
}

.home-wrap {
  background-color: lightsteelblue;
  padding: 5rem 2.5rem;
}

.home-wrap.second {
  background-color: linen;
}

.home-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.home-container.first {
  margin-left: 50%;
}

.home-title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.home-description {
  line-height: 25px;
}

.join-btn {
  width: 150px;
  margin-top: 30px;
  border-radius: 0;
  border: 0;
  background-color: lightpink;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

#about {
  display: flex;
  flex-direction: column;
}

.about-program {
  background-color: lightyellow;
  display: flex;
  justify-content: center;
  align-items: center;
}

.program {
  width: 300px;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.program-img {
  width: 150px;
  height: 200px;
}

.program h4 {
  margin: 10px 0 0 0;
}

.program p {
  margin: 0;
}

.learn-wrap {
  background-color: lightsteelblue;
  padding: 5rem 2.5rem;
}

.about-learn {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.about-title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.about-description {
  line-height: 25px;
}

.learn-btn {
  width: 150px;
  margin-top: 30px;
  border-radius: 0;
  border: 0;
  background-color: lightpink;
  font-weight: bold;
  padding: 10px 20px;
  cursor: pointer;
}

/* Event */
#event {
  display: flex;
  margin: 10px 0 50px 0;
}

.event-container {
  width: 50%;
  display: flex;
  flex-direction: column;
}

.event-container {
  margin-left: 50%;
}

.event-title {
  font-size: 3rem;
  margin-bottom: 30px;
}

.event-description {
  line-height: 25px;
}

/* Gallery */
.gallery-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: darkseagreen;
}

.gallery-title {
  font-size: 3rem;
  margin: 20px 0;
}

.gallery-description {
  margin-top: 0;
  margin-bottom: 30px;
}

.gallery-card-container {
  display: flex;
  margin: 30px 0;
}

.gallery-card {
  background-color: #fff;
  margin: 0 30px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.gallery-card img {
  width: 250px;
  height: 300px;
}

.gallery-card h2 {
  margin: 20px 0;
}

.gallery-card p {
  margin-bottom: 30px;
}

/* Training */
.training-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px 25px;
  background-color: burlywood;
}

.training-video {
  width: 1200px;
  height: 300px;
  margin: 20px 50px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.training-container {
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.training-title {
  font-size: 3rem;
  margin: 20px 0;
}

.training-description {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 25px;
}

.training-link-container i {
  font-size: 30px;
  margin-right: 30px;
  cursor: pointer;
}
